@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(28, 28, 75);
    color: rgb(235, 239, 243);
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
    
}

.menu {
    z-index: 1;
}

.menu ul{
    list-style-type: none;
    padding: 15px;
    background-color: rgb(194, 35, 101);
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0px;
}

.menu li, a{
    display: inline;
    text-decoration: none;
    padding: 13px;
    color: #ffffffff;
}

.menu a:hover{
    color: rgb(255, 57, 136);
}


